{% extends "base.html" %}
{% load static %}


{% block title %}Scrabble.io{% endblock %}


{% block links %}
    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
    <script src="{% static 'js/game.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/socket.js' %}" type="text/javascript"></script>
{% endblock %}
{% block body %}
    <body onload="draw();">
        <div class="container-fluid">
        <div class="row p-2" style="background-color: darkcyan">
            <strong style="padding-left: 2rem; font-size: 48px;">Scrabble.io</strong>
        </div>
        <div class="row justify-content-center p-3">
            <div class="col-3">
                Twoje słowo to: <br>
                <span id="slowo"> {{ slowo }} </span> <br>
            </div>
            <div class="col-6 justify-content-center">
                <div class="container-canvas">
                    <canvas id="main_canvas" width="750px" height="750px"></canvas>
                </div>
            </div>
            <div class="col-3">
                <h2>Czat</h2>
                <hr>
                <div class="chat">
                    <div class="p-3 mb-3 mb-md-0 mr-md-3 bg-light border border-dark rounded row" style="height: 600px;">
                        <ul id="chat_container" class="list-group scrollbar-light-blue">
                            <li class="text-secondary list-group-item">Witaj na czacie!</li>
                        </ul>
                    </div>
                    <span class="row my-3">Napisz co ci chodzi po głowie:</span>
                    <div class="row">
                        <input class="col-10 mr-2   " id="room-name-input" type="text" placeholder="wiadomość">
                        <input class="btn btn-primary" id="room-name-submit" type="button" value="Enter">
                    </div>
                </div>
                <script>
                    chatSocket.onmessage = function(e) {
                        const data = JSON.parse(e.data)['message'];
                        let container = document.getElementById("chat_container");
                        let li = document.createElement("li")
                        li.classList.add("list-group-item")
                        //let linebreak = document.createElement("br");
                        li.innerText = data['content'] + " " + data['author']
                        container.appendChild(li);
                        //container.appendChild(linebreak);
                        container.scrollTop = container.scrollHeight;
                    };

                    chatSocket.onclose = function(e) {
                        console.error('Chat socket closed unexpectedly');
                    };
                    document.querySelector('#room-name-input').focus();
                    document.querySelector('#room-name-input').onkeyup = function(e) {
                        if (e.keyCode === 13) {  // enter, return
                            document.querySelector('#room-name-submit').click();
                        }
                    };

                    document.getElementById('room-name-submit').onclick = function(e) {
                        const messageInputDom = document.querySelector('#room-name-input');
                        const message = messageInputDom.value;
                        chatSocket.send(JSON.stringify({
                            'message': message,
                            'command': "new_message"
                        }));
                        messageInputDom.value = '';
                        {#document.getElementById("chat_container").innerText += document.querySelector('#room-name-input').value + "\n";#}
                        {#document.querySelector('#room-name-input').value = "";#}
                    };
                </script>
            </div>
        </div>
        <div class="row footer justify-content-center m-0">
            <span>Game by HoffHaxx Entertainment</span>
        </div>
        </div>
    </body>
{% endblock %}